{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
	"plugins": ["svelte3", "@typescript-eslint"],
	"overrides": [
		{ "files": ["*.svelte"], "processor": "svelte3/svelte3" },
		{
			"files": ["*.js", "*.cjs"],
			"rules": {
				"@typescript-eslint/no-var-requires": ["off"]
			}
		}
	],
	"settings": {
		"svelte3/typescript": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": "latest"
	},
	"env": {
		"browser": true,
		"es2017": true,
		"node": true
	}
}
